<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <h1>Mistos</h1>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button [routerLink]="'/dashboard'"> Dashboard </a>
      <a mat-button [routerLink]="'/experiments'"> Experiments </a>
      <a mat-button [routerLink]="'/images'"> Images </a>
      <a mat-button [routerLink]="'/classifiers'"> Classifiers </a>
      <a mat-button [routerLink]="'/import'"> Import </a>
      <a mat-button [routerLink]="'/options'"> Options </a>
      <a mat-button [routerLink]="'/onions'"> Onions </a>

    </div>
  </mat-toolbar-row>
</mat-toolbar>