pandas
scikit-learn
scipy
sqlite
tensorflow
numpy
scikit-image
simpleitk
aiofiles
czifile
fastapi
matplotlib
napari
openpyxl
pydantic
python-bioformats
python-javabridge
sqlalchemy==1.4.0b2
stardist
tifffile
tqdm
uvicorn
vispy
webencodings
xtiff
zarr
pyqt5
auto-tqdm