<h2 mat-dialog-title>Edit Description</h2>

<mat-dialog-content>
    <form [formGroup]="form">
        <!-- Hint -->
        <div class="mat-form-input">
            <mat-form-field style="width:400px">
                <mat-label for="description">Description</mat-label>
                <textarea matInput id="description" class="form-control" formControlName="description" placeholder = "Enter description" #description 
                cdkTextareaAutosize
                cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="10"
                ></textarea>
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>

<!-- Actions -->
<mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="onSubmit()">Save</button>
    <button mat-raised-button color="danger" (click)="onClose()">Close</button>
</mat-dialog-actions>