<!-- <mat-grid-list cols="4" rowHeight="1:1"> -->
  <!-- <mat-grid-tile style="border: 1px solid red" colspan="4"> -->
<div>
  <div class="mat-headline">Welcome to Mistos</div>
  <div class="mat-body-1">
    This project is designed to help researchers to organize and evaluate microscopy images.
    <br><br>
    To get started, import your images and start organizing them in experiments.
    <br><br>
    If you are just getting started, you can find additional information in under "Features".
    <br><br>
    If you have trouble using the tool it may be helpful to read the "Tutorial" section.
    <br><br>
    If you still have questions or issues, please report them <a href="https://github.com/Maddonix/mistos_2">here</a>.
  </div>
</div>
    

  <!-- </mat-grid-tile> -->
  <!-- <mat-grid-tile>
      <div class='internalMatGrid' >
        <mat-grid-list cols="3" rowHeight="1:1.3">
          <mat-grid-tile>
            <div class="left-align-forced">
              <h2>Experiment</h2>
              <h3>Description</h3>
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <h3>Groups</h3>
          </mat-grid-tile>
          <mat-grid-tile>Detail</mat-grid-tile>
        </mat-grid-list>
      </div>
  </mat-grid-tile>
  <mat-grid-tile>2</mat-grid-tile> -->

<!-- </mat-grid-list> -->