
<div>
  <div class="mat-headline">Welcome to Mistos</div>
  <div class="mat-body-1">
    This project is designed to help researchers to organize and evaluate microscopy images.
    <br><br>
    To get started, import your images and start organizing them in experiments.
    <br><br>
    If you have trouble using the tool it may be helpful to do the tutorial first ("Mistos/tutorial/Mistos_Guide.docx").
    <br><br>
    If you still have questions or issues, please report them <a href="https://github.com/Maddonix/mistos_2">here</a>.
  </div>
</div>
